<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="fidesio_donate" translate="label" sortOrder="10">
            <label>Manage </label>
        </tab>
        <section id="donatefee" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Donate</label>
            <tab>fidesio_donate</tab>
            <resource>Fidesio_DonateService::default_config</resource>

            <group id="donatefee" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="image" translate="label comment" type="image" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image</label>
                    <backend_model>Fidesio\DonateService\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">icon_donate</base_url>
                    <upload_dir config="system" scope_info="1">icon_donate</upload_dir>
                    <comment>Image for donation(Allow: jpeg, jpg, gif, png</comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Title</label>

                </field>
                <field id="description" translate="label comment" sortOrder="4" type="editor" showInStore="1" showInDefault="1" >
                    <label>Description</label>
                    <frontend_model>Fidesio\DonateService\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="amounts" translate="label" sortOrder="5" showInDefault="5" showInWebsite="1" showInStore="1">
                    <label>Amount Options</label>
                    <frontend_model>Fidesio\DonateService\Block\Adminhtml\Form\Field\Amount</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>